.content {
    max-width: 800px;
    margin: 24px auto;
    padding: 0 8px 0 8px;

}
.rule {
    width: 98%;
    margin: 1px 4px 1px 4px;
}

.pr-tag {
    margin-top: 0.33em;
    margin-bottom: 0.33em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meme-img {
    max-width: 100%;
}