html, body{
    background-color:#111;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
}
a{
    color:#f37323;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
ul li{
    list-style-type:disc;
    list-style-position:inside;
}
#headerprofile #pic img{
    border:1px solid #ecf0f1;
    border-radius:5px;
    height:100%;
    background:#116AB4 url('../images/stripes.png');
    background-size:100%;
}
#headerprofile #profnav{
    display:inline-block;
    float:left;
    margin-right:32px;
}
#headerprofile #profnav a{
    color:#fff;
    margin-left:30px;
}
#headerprofile #profnav a:first-child{
    margin-left:0px;
    margin-left:initial;
}
#holder{
    display:inline-block;
}
#navigation a{
    display:inline-block;
    padding:8px;
    color:#ecf0f1;
}
#navigation a:hover{
    background-color:rgba(255, 255, 255, 1);
    border-radius:4px;
    color:#010107;
    text-decoration:none;
}
#navigation ul li{
    display:inline;
}
.tables th, .tables td{
    padding:10px;
    padding-left:18px;
    padding-right:18px;
}

.tables tr th{
    background-color:#da5300;
    font-size:1.1em;
}
.tables tr th a{
    color:#fff;
}
.tables tr td{
    border:1px solid #f47324;
    font-size:1.05em;
}
.tables tr th.tableheaderheader{
    padding-bottom:0px;
}
#ranknav a{
    margin-right:8px;
}
/*IDs********************************************************/
 #firstrow{
    height:112px;
    position:relative;
}
#headerContainer{
    background-color:#180153;
    background-color:#c0392b;
    
    background:#116AB4;
    background:#1976D2;
    background:linear-gradient(120deg, rgba(255,255,255,1) 0px, rgba(255,255,255,1) 175px, rgba(255,255,255,0) 176px);
    
    background:-moz-linear-gradient(-30deg, rgba(255,255,255,1) 0px, rgba(255,255,255,1) 175px, rgba(255,255,255,0) 176px);
    background:-webkit-linear-gradient(-30deg, rgba(255,255,255,1) 0px, rgba(255,255,255,1) 175px, rgba(255,255,255,0) 176px);
    background:-o-linear-gradient(-30deg, rgba(255,255,255,1) 0px, rgba(255,255,255,1) 175px, rgba(255,255,255,0) 176px);
    background:-ms-linear-gradient(-30deg, rgba(255,255,255,1) 0px, rgba(255,255,255,1) 175px, rgba(255,255,255,0) 176px);
    
    background-color:#1976D2;
    
    padding-bottom:15px;
    padding-top:15px;
}
#headerprofile{
    float:right;
    line-height:112px;
    max-height:100%;
}
#logo{
    float:left;
    position:relative;
    height:100%;
}
#logo #logovector{
    height:100px;
    width:100px;
    overflow:visible;
    transition:fill .5s;
}
#logo #logovector #logoOutline{
    fill:#ecf0f1;
}
#logo a:hover #logovector{
    fill:#2196F3;
}
#logo a{
    color:#fff;
}
#logo a:hover{
    text-decoration:none;
}
#logo a span.times{
    font-size:xx-large;
    display:inline-block;
    margin-left:60px;
    position:relative;
    bottom:37px;
}
#navigation{
    background-color:#444;
    font-size:20px;
    margin-top:6px;
    text-align:center;
    padding-bottom:20px;
    padding-left:16px;
    padding-right:16px;
    padding-top:5px;
}
#tournlist{
    margin-bottom:25px;
}
#pageContent{
    width:100%;
}
#headerprofile #pic{
    display:inline-block;
    height:56px;
    margin-top:27px;
}
.profile #profpic, .profpic{
    border:1px solid #ecf0f1;
    border-radius:5px;
    margin-bottom:15px;
    margin-right:15px;
    float:left;
}
.profile #profdata{
    height:152px;
    margin-bottom:15px;
}
.profile #profdataMobile{
    display:none;
    margin-top:15px;
    margin-bottom:15px;
}
.profile #userHtml{
    width:100%;
    height:auto;
}
.profile #displaycase{
    margin-top:10px;
}
.profile #displaycase .medal{
    display:inline-block;
    padding:5px;
}
.profile #profpic, .profpic{
    cursor:pointer;
    background:#116AB4 url('../images/stripes.png');
    background-size:100%;
}
.profile #profpic:hover, a:hover .profpic{
    background-color:#f37323;
}
#medalcontainer #floater{
    float:left;
}
#medalcontainer #margined{
    margin-left:300px;
    height:300px;
}
.tables{
    border:1px solid #c0392b;
    margin-top:10px;
}
#ranknav{
    margin-top:8px;
    margin-bottom:5px;
}
#scriptcopy{
    color:#666;
    font-size:8pt;
}
#scriptcopy a{
    color:#aaa;
}
#socialbtns{
    margin-top:25px;
    text-align:right;
}
#socialbtns svg.logo{
    width:50px;
    height:50px;
}
#socialbtns svg.logo .hover{
    opacity:0;
    -webkit-transition:opacity .16s;
    transition:opacity .16s;
}
#socialbtns a:hover svg.logo .hover{
    opacity:1;
}
#socialbtns a:hover{
    text-decoration:none;
}
a#twittlogin svg#twitterbird{
    vertical-align:text-bottom;
    height:16px;
    width:16px;
    margin-right:8px;
}
a#twittlogin:hover svg#twitterbird #bird{
    fill:#fff;
}
/*classes****************************************************/
.ul{
    text-decoration:underline;
}
.columnize{
    margin:auto;
    width:80%;
}
.columnize.full{
    width:97%;
    width:calc(100% - 50px);
}
.center{
    text-align:center;
}
.floatleft{
    float:left;
    margin-right:10px;
}
.nofloat{
    clear:both;
}
.content{
    margin-top:25px;
    line-height:30px;
    margin-bottom:35px;
}
.displayNone{
    display:none;
}
.nicEdit-main{
    padding:15px;
}
.nicEdit-pane{
    color:#000;
}
.noDecoration.noDecoration.noDecoration{
    text-decoration:none;
}
#logo #logovector .outlinetext{
    fill:#ecf0f1;
}
#tournlist .tournlistingcontainer{
    margin-top:25px;
    background-color:#000;
    background-color:rgba(0,0,0,.2);
    padding:15px;
    border-bottom:#aaa solid 5px;
}
#tournlist .tournlistingcontainer .signupsopen{
    font-style:italic;
}
#tournlist.home{
    margin-bottom:10px;
}
#tournlist.home .tournlistingcontainer{
    margin-top:5px;
    padding:10px;
    border-bottom:none;
}
#findMember .player{
    background-color:#c0392b;
    background-color:#156ab4;
    display:inline-block;
    width:300px;
    margin-top:14px;
    color:#fff;
    max-width:95%;
    max-width:calc(100% - 12px);
    height:50px;
    line-height:50px;
    padding:6px;
    cursor:pointer;
}
#findMember .player .name{
    display:inline-block;
    margin-left:8px;
}
#findMember .player .profpic{
    float:left;
}
.times{
    font-family:"Times New Roman", Times, serif;
}
#tournlist .tournlistingcontainer a{
    /*color:#fff;*/
}
.zigzag{
    -webkit-filter:drop-shadow(rgba(255, 255, 255, .3) 0px -3px 0px);
    position:relative;
    width:100%;
}
.zigzag:before{
    content:"";
    display:block;
    position:absolute;
    top:-10px;
    width:100%;
    height:20px;
}
.zigzag.first:before{
    background:linear-gradient(45deg, transparent 33.333%, #444 33.333%, #444 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #444 33.333%, #444 66.667%, transparent 66.667%);
    background-size:20px 40px;
}
.zigzag.second:before{
    background:linear-gradient(45deg, transparent 33.333%, #111 33.333%, #111 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #111 33.333%, #111 66.667%, transparent 66.667%);
    background-size:20px 40px;
}
.svgicon{
    height:16px;
    max-width:20px;
}
a:hover .svgicon .sico{
    fill:#FFF200;
    fill:#f47324;
}
/*arena*/
.arenaContainer{
	margin-bottom:5px;
	margin-top:5px;
	display:inline-block;
}
.arenaContainer .playerCard{
	width:136px;
	height:194px;
	background-image:url(../images/arena/P0.png);
	background-repeat:no-repeat;
	display:inline-block;
}
.arenaContainer #vsImg{
    display:inline-block;
    width:120px;
    height:194px;
}
.arenaContainer .P1{
	background-image:url(../images/arena/P1.png);
}
.arenaContainer .P2{
	background-image:url(../images/arena/P2.png);
}
.arenaContainer .playerCard .playerPic{
	position:relative;
	top:30px;
    border-radius:5px;
}
.arenaContainer .playerCard .playername{
	position:relative;
	top:33px;
}
.arenaContainer .playerCard .playerwins{
	position:relative;
	top:26px;
}

#newchallenger,.fillNoStretch{
    max-width:100%;
}

/*media queries*/
@media screen and (max-width:680px){
    .profile #profdata{
        display:none;
    }
    .profile #profdataMobile{
        display:block;
    }
    .profile #profpic{
        float:none;
    }
    #headerContainer{
        background:#116AB4;
    }
    #headerprofile #pic{
        clear:both;
        display:block;
        text-align:center;
        margin-top:0px;
        margin-top:initial;
    }
    #headerprofile #pic img{
        border:3px solid #ecf0f1;
        border-radius:100px;
    }
    #headerprofile #profnav{
        float:none;
        clear:both;
        display:block;
        margin-right:0px;
        margin-right:initial;
        text-align:center;
    }
    #firstrow{
        height:auto;
        text-align:center;
    }
    #headerprofile{
        line-height:60px;
        display:inline-block;
    }
    #logo{
        float:none;
        margin-bottom:15px;
    }
    #logo #logovector{
        display:block;
        margin:auto;
        height:150px;
        width:150px;
        margin-bottom:15px;
    }
    #logo a span.times.times{
        font-size:xx-large;
        display:block;
        margin-left:0px;
        position:relative;
        bottom:0px;
    }
    #headerprofile{
        float:none;
    }
    #medalcontainer{
        text-align:center;
    }
    #medalcontainer #floater{
        float:none;
        max-width:100%;
    }
    #medalcontainer #margined{
        margin-left:0px;
    }
    .tables{
        width:100%;
    }
    .floatleft{
        float:none;
    }
    .tables th, .tables td{
        padding-left:2px;
        padding-right:2px;
    }
    .tables .nonCriticalCol{
        display:none;
    }
}

@media screen and (max-width:575px){
    .navgroup{
        display:block;
        width:100%;
    }
}